<div class="grd my2 p0">
  <div class="grd-row">
    <div class="grd-row-col-5-6">
      <search-bar-component (onUpdated)="updateFilter($event)"></search-bar-component>
    </div>
    <div class="grd-row-col-1-6 txt--right">
      <button type="button" class="course-list-page-create-btn btn" (click)="createCourse()">Create</button>
    </div>
  </div>
</div>

<course-card-component
  *ngFor="let course of courseList$ | async | courseFilter: courseFilterQuery"
  [course]="course">
</course-card-component>