.breadcrumbs-item {
  display: inline-block;
  list-style: none;
}

.breadcrumbs-item::after {
  display: block;
  float: right;
  margin: 0 0.5rem;
  font-size: 1.7rem;
  line-height: 45px;
  content: '»';
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-item:last-child .breadcrumbs-item-link {
  pointer-events: none;
}

.breadcrumbs-item-link {
  font-size: 2rem;
  line-height: 45px;
  color: #333;
  text-decoration: none;
}

.breadcrumbs-item-link:hover {
  color: #909090;
}