<ul class="breadcrumbs">
  <li class="breadcrumbs-item" *ngFor="let breadcrumb of breadcrumbList$ | async">
    <a routerLink="{{breadcrumb.url}}" class="breadcrumbs-item-link">{{breadcrumb.name}}</a>
  </li>
</ul>