<div class="grd-row">
  <div class="grd-row-col-5-6">
    <a href="/" class="header-link"><img src="/assets/images/logo.png" class="header-img" width="50" height="50" alt="Angular"></a>
  </div>
  <div class="grd-row-col-1-6 txt--right" *ngIf="isAuth">
    <button class="header-logout btn--link" (click)="logout()">Logout</button>
  </div>
</div>