.cource-card-favorite::before {
  display: inline-block;
  margin-right: 3px;
  line-height: 10px;
  vertical-align: text-top;
  cursor: default;
}

.cource-card-description {
  display: block;
  margin-bottom: 5px;
  line-height: 1.6em;
}

.cource-card-author::after {
  margin-right: 3px;
  content: ',';
}

.cource-card-author:last-child::after {
  display: none;
}

.cource-card-delete-btn:hover {
  color: #258bcf;
}