<div class="grd-row p1 my1" [courseBorder]="course.date">
  <div class="grd-row-col-3-6">
    <small class="cource-card-favorite"
           [ngClass]="{ 'entypo-star fnt--blue': course.favorite,
                        'entypo-star-empty fnt--mid-gray': !course.favorite }">
    </small>
    <span>{{course.name}}</span>
    <small *ngIf="course.authors.length">
      by <span class="cource-card-author" *ngFor="let author of course.authors">{{author.name}} {{author.surname}}</span>
    </small>
    <small class="mx1 cource-card-description" *ngIf="course.description">{{course.description}}</small>
  </div>
  <div class="grd-row-col-2-6">
    <small class="mx2 fnt--mid-gray">
      {{course.date | date: 'dd/MM/yyyy'}} / {{course.duration | duration}}
    </small>
  </div>
  <div class="grd-row-col-1-6 txt--right">
    <a routerLink="/courses/item/{{course.key}}" class="entypo-pencil fnt--mid-gray mx1"></a>
    <span class="cource-card-delete-btn entypo-trash fnt--mid-gray" (click)="deleteCourse(course.key)"></span>
  </div>
</div>