<div class="search-bar-container">

  <div class="search-bar-container-input">
    <input type="text" placeholder="Please type search query" [(ngModel)]="model.search" (keyup)="filter()">
  </div>

  <div class="search-bar-container-select">
    <label class="fnt--mid-gray">Order by:</label>
    <select [(ngModel)]="model.order" (change)="filter()">
      <option *ngFor="let key of objectKeys(orderOptionList)" value="{{key}}">
        {{orderOptionList[key]}}
      </option>
    </select>
  </div>

  <div class="search-bar-container-checkbox">
    <input type="checkbox" id="outdated" [(ngModel)]="model.outdated" (change)="filter()">
    <label for="outdated">Hide outdated courses</label>
  </div>

</div>