.search-bar-container {
  position: relative;
}

.search-bar-container-input input {
  padding-right: 170px;
}

.search-bar-container-select {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 0.9em;
}

.search-bar-container-select select {
  display: inline-block;
  width: 90px;
  height: 36px;
  margin: 0;
  background: none;
  border: 0;
  outline: none;
}