<section class="progress-bar"></section>

<header class="bg--light-gray">
  <div class="measure p2">
    <header-component></header-component>
  </div>
</header>

<section class="section bg--white">
  <div class="measure p2">
  	<breadcrumbs-component></breadcrumbs-component>
    <router-outlet></router-outlet>
  </div>
</section>

<footer class="bg--off-white txt--center p2">
  <footer-component></footer-component>
</footer>