.grd-row-col-2-6,
.grd-row-col-5-6 {
  position: relative;
}

.course-item-page-form label {
  line-height: 36px;
}

.course-item-page-form label.required::after {
  margin-left: 3px;
  content: '*';
}

.course-item-page-form input[type="date"] {
  height: 36px;
}

.course-item-page-form textarea {
  line-height: 18px;
}

.course-item-page-form button {
  height: 40px;
  padding: 0 1rem;
  line-height: 36px;
}

.course-item-page-form small {
  display: block;
  height: 36px;
  line-height: 38px;
}

.course-item-page-form-message {
  height: 36px;
  position: absolute;
  right: 0;
  margin: 0 0.5rem 0 0;
  line-height: 36px;
  font-size: 0.8em;
}