<form class="course-item-page-form grd my2 p0"
      #editForm="ngForm"
      (ngSubmit)="confirm()">

  <div class="grd-row my1">
    <div class="grd-row-col-1-6">
      <label class="fnt--mid-gray required">Name:</label>
    </div>
    <div class="grd-row-col-5-6">
      <span class="fnt--red course-item-page-form-message"
            [hidden]="name.pristine || !name.errors?.required">Required</span>
      <input type="text"
             name="name"
             placeholder="Enter name"
             class="m0"
             #name="ngModel"
             [ngClass]="{ 'brdr--mid-gray': !name.valid && name.dirty }"
             [(ngModel)]="course.name"
             maxlength="50"
             required>
    </div>
  </div>

  <div class="grd-row my1">
    <div class="grd-row-col-1-6">
      <label class="fnt--mid-gray required">Description:</label>
    </div>
    <div class="grd-row-col-5-6">
      <span class="fnt--red course-item-page-form-message"
            [hidden]="description.pristine || !description.errors?.required">Required</span>
      <textarea name="description"
                placeholder="Tell something about course"
                rows="3"
                class="m0"
                #description="ngModel"
                [ngClass]="{ 'brdr--mid-gray': !description.valid && description.dirty }"
                [(ngModel)]="course.description"
                maxlength="500"
                required></textarea>
    </div>
  </div>

  <div class="grd-row my1">
    <div class="grd-row-col-1-6">
      <label class="fnt--mid-gray required">Authors:</label>
    </div>
    <div class="grd-row-col-2-6">
      <authors-control-component name="authors"
                                 #authors="ngModel"
                                 [classCondition]="!authors.valid && authors.dirty"
                                 [(ngModel)]="course.authors"
                                 required></authors-control-component>
    </div>
  </div>

  <div class="grd-row my1">
    <div class="grd-row-col-1-6">
      <label class="fnt--mid-gray required">Date:</label>
    </div>
    <div class="grd-row-col-2-6">
      <date-control-component name="date"
                              #date="ngModel"
                              [classCondition]="!date.valid && date.dirty"
                              [(ngModel)]="course.date"
                              dateValidator></date-control-component>
    </div>
  </div>

  <div class="grd-row my1">
    <div class="grd-row-col-1-6">
      <label class="fnt--mid-gray required">Duration:</label>
    </div>
    <div class="grd-row-col-2-6">
      <span class="fnt--red course-item-page-form-message"
            [hidden]="duration.pristine || duration.errors?.numberValidator !== false">Numbers only</span>
      <input type="number"
             name="duration"
             placeholder="Enter duration"
             class="m0"
             #duration="ngModel"
             [ngClass]="{ 'brdr--mid-gray': !duration.valid && duration.dirty }"
             [(ngModel)]="course.duration"
             numberValidator
             required>
    </div>
    <div class="grd-row-col-1-6">
      <small class="mx1">{{course.duration | duration}}</small>
    </div>
  </div>

  <div class="grd-row my2">
    <div class="grd-row-col-1-6"></div>
    <div class="grd-row-col-3-6">
      <button type="submit"
              class="btn--blue"
              [disabled]="editForm.invalid || !editForm.dirty">Confirm</button>
      <a routerLink="/courses" class="btn--link">Cancel</a>
    </div>
  </div>

</form>