<form class="login-page-form" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
  <input type="text" name="login" class="my1" placeholder="Login" ngModel required>
  <input type="password" name="password" class="my1" placeholder="Password" ngModel required>
  <button type="submit" class="login-page-form-btn btn--blue" [disabled]="loginForm.invalid || !loginForm.dirty">Sign in</button>
  <p class="login-page-form-message m0 fnt--red flt--right" *ngIf="isInvalidPair$ | async">Incorrect login/password</p>
</form>