.authors-control {
  height: 121px;
  position: relative;
}

.authors-control option {
  height: 26px;
  padding: 4px 0;
  line-height: 20px;
}

.authors-control.loading {
  pointer-events: none;
}

.authors-control.loading::after {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: url('/assets/images/loading.gif') 50% 50% / cover no-repeat;
  transform: translate(-50%, -50%);
  content: '';
}