<select multiple="multiple"
        class="m0 authors-control"
        [ngClass]="{ 'loading': !authorList, 'brdr--mid-gray': classCondition }"
        (change)="change($event)">
  <option *ngFor="let author of authorList"
          [selected]="author.selected"
          value="{{author.mail}}">
    {{author.name}} {{author.surname}}
  </option>
</select>