@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"] {
  text-decoration: none;
}

[class*="entypo-"]::before {
  font-family: 'entypo', sans-serif;
  cursor: pointer;
}

.brdr--green {
  border: thin solid #25ba84;
}

.brdr--blue {
  border: thin solid #3498db;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}